.logo {
  height: 100px;
}
html {
  border: 1px solid black;
  box-shadow: #d4d4d4 2px 2px 6px 0px;
  border-radius: 3px;
  margin: 10px;
  padding: 15px;
  margin: auto;
  margin: auto;
  width: 50%;
  margin-top: 20px;
}
body {
  min-height: 500px;
  // margin: auto;
  // width: 50%;
  // text-align: center;
}
