<br>
---
<p>node hostname: <%= `echo $NODE_HOST` %></p>
<p>container hostname: <%= `echo $HOSTNAME` %></p>
<p>git commit: <%= `git log | head -n 1 | cut -d' ' -f2 | cut -c 1-12` %></p>
<p>web environment: <%= Rails.env %>
